PySide6
pyqtdarktheme


# For python-magic, the following packages may be required:
## Linux:
### sudo apt-get install libmagic1
python-magic

# The graphviz package is required.
## Linux: sudo apt-get install graphviz
## Windows: https://www.graphviz.org/download/

pydot
networkx
pygit2

requests
exif
email-validator
pypdf
docx2python
jellyfish
python-dateutil
pyyaml
tldextract
ipwhois
pycountry
defusedxml
cryptography
msgpack
folium
pillow
lz4
reportlab
pandas
svglib
lxml
py7zr
semver
# For opening spreadsheets
odfpy
openpyxl
xlrd # For old Excel formats
# Speeds up parsing of webpages by bs4
faust-cchardet
bs4
# Redundant, but doesn't hurt.
beautifulsoup4

# Need to run 'playwright install'.
playwright
