PySide6>=6.2.0


# For python-magic, the following packages may be required:
## Linux:
### sudo apt-get install libmagic1
## Windows:
### pip install python-magic-bin
python-magic

# The graphviz package is required.
## Linux: sudo apt-get install graphviz
## Windows: https://www.graphviz.org/download/

pydot
networkx

tldextract
defusedxml
cryptography
msgpack
folium
pillow
lz4
reportlab
pandas
svglib
lxml
# Speeds up parsing of webpages by bs4
cchardet
bs4

# Need to run 'playwright install'.
playwright


##### Extra Packages for resolutions
requests
shodan
docx2python
PyPDF2
beautifulsoup4
python-Wappalyzer
vtapi3
social-analyzer
requests_futures
tweepy
jellyfish
shodan
pandas
pycountry
ipwhois
docker
email-validator
docx2python
exif
xmltodict
urllib3
